body {
    background: rgb(233, 233, 233);
}
.bg-light {
    background-color: rgb(153, 152, 152) !important;
}

#navbarDropdown {
   color: rgb(246, 76, 76); 
  

}
a img, .logo {
    width: 40px;
}


/* -------------Login page style------------------- */

.login {
   width: 300px;
   margin: 100px auto;
}
.login input {
    margin-bottom: 10px;
}